{% extends "base.html" %}

{% block js %}
<script src="../static/item-details.js"></script>
<script>var item = {{item|tojson}}</script>
<script>var user = {{user|tojson}}</script>
{% endblock %}

{% block style %}
<style>

	.details-container {
		width: 50%;
		margin: 10px auto 50px;
		border: 1px solid lightgray;
	}

	.text-container {
		padding: 10px 25px;
	}

	img {
		max-width: 100%;
		min-width: 100%;
	}

	.button-group {
		padding: 5px 0px;
	}

	.pink {
		color: deeppink;
	}

	.like-btn, .edit-btn, .delete-btn {
		font-size: 25px;
		margin: 0px 10px 0px 0px;
		padding: 0px;
		transition: transform .15s;
	}

	.like-btn:hover, .edit-btn:hover, .delete-btn:hover {
		transform: scale(1.2);
		cursor: pointer;
	}

	.location-container i, .date-container i {
		margin-right: 5px;
	}

	.vertical-padding {
		padding: 10px 0px;
	}

	.normal-back-btn {
		margin: 10px;
	}

	.sticky-back-btn {
		position: fixed;
		top: 10px;
		left: 10px;
	}

</style>
{% endblock %}

{% block content %}
<a href="/item-listing" id="back-btn" class="btn btn-light normal-back-btn">
	<i class="fas fa-arrow-left"></i>
	Back to Listings
</a>

<div class="details-container">
	<img data="image">
	<div class="text-container">
		<h1 class="title"></h1>
		<div class="button-group">
			<button class="btn like-btn" data-action="like">
				<i class="far fa-heart"></i>
			</button>
			<a href="#" class="btn edit-btn" data-action="edit">
				<i class="far fa-edit"></i>
			</a>
			<a href="#" class="btn delete-btn" data-action="delete">
				<i class="far fa-trash-alt"></i>
			</a>
		</div>

		<div>
			<span data="likes"></span>
		</div>

		<h1 data="title"></h1>
		<div>
			<div class="location-container" data="location"></div>
			<div class="date-container" data="date"></div>
		</div>
		<div>
			<strong data="user"></strong>
			<span data="description"></span>
		</div>
		<div data="tags"></div>

		<div data="comments" class="vertical-padding"></div>
		<div class="form-group input-group">
			<input name="new-comment" placeholder="Leave a question, comment, or concern..." class="form-control">
			<div class="input-group-append">
				<button data-action="comment" class="btn btn-outline-dark" id="button-addon2">
					Post
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
