{% extends "base.html" %}

{% block js %}
<script src="../static/item-edit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script>var item = {{item|tojson}}</script>
{% endblock %}

{% block style %}
<style>

	.details-container {
		margin: 50px auto;
	}

	#form {
		margin: auto;
		width: 50%;
	}

	.selected {
		border: 1px solid black;
	}

	.btn {
		margin: 5px;
	}

	img {
		max-width:100%;
		height: auto;
	}

</style>
{% endblock %}

{% block content %}
<div class="details-container">
	<form id="form" action="/item-submit" method="POST">
		<h2>Share New Food</h2>
		<input type="hidden" name="id"/>
		<div class="form-group image">
		</div>
		<div class="form-group">
			<label for="image">Image URL</label>
			<input required name="image" placeholder="Image URL" class="form-control" data-error="Please enter an image url" />
			<!-- <input type="file" name="pic" class="form-control-file" accept="image/*"> -->
		  	<div class="custom-file form-group">
		    	<input type="file" class="custom-file-input" id="validatedCustomFile" required>
		    	<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
		    	<div class="invalid-feedback">Example invalid custom file feedback</div>
		  	</div>
		</div>
		<div class="form-group">
			<label for="title">Title</label>
			<input required name="title" placeholder="Title" class="form-control" data-error="Please enter a title" />
		</div>
		<div class="form-group">
			<label for="location">Location</label>
			<input required name="location" placeholder="Location" class="form-control" data-error="Please enter a location" />
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea name="description" placeholder="Description" class="form-control"></textarea>
		</div>
		Tags
		<div class="tags form-group">
		</div>
		<button type="submit" class="btn btn-dark btn-block">Save</button> 
	</form>
</div>

{% endblock %}
